@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: '100vh';
  width: '100vw';
  overflow-x: hidden;
}

.gradient-border {
  background: linear-gradient(to right, #b2f5ea, #3c366b);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 2px solid transparent;
}